html, body { 
    height: 100%; 
    width: 100%;
    margin: 0; 
    padding: 0; 
}

.app, #root {
    height: 100%;
    width: 100%;
}
.app-header {
    width: 100%;
    height: 44px;
    margin: 0; 
    padding: 0;
    color: #f3f4f4;
    background-color: #79818e; 
    display: flex;
    flex-wrap: wrap;
}

.app-nav {
    cursor: pointer;
    padding: 10px 10px 10px 20px;
    width: 24px;
    height: 24px;
    margin: 0;
}

.app-title {
    font-size: 24px;
    margin: 7px auto;
    width: calc(100% - 54px);
    text-align: center;
}

.app-container {
    width: 100%;
    height: calc(100vh - 44px);
}

.app-sidebar {
    width: 240px;
    height: 100%;
    box-sizing: border-box;
    background: #f7f7f7;
    overflow-y: auto;
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.app-sidebar.app-sidebar-hidden{
    left: -240px;
}

.app-sidebar-filter {
    display: block;
    box-sizing: border-box;
    border: 1px solid #d1d4d6;
    height: 32px;
    width: 200px;
    font-size: 15px;
    padding: 0 10px 0 10px;
    margin: 20px auto 10px;
}

.app-sidebar-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 200px;
    font-size: 14px;
}

.app-sidebar-list-item {
    padding: 10px;
    cursor: pointer;
    color: #3f4657;
    border-bottom: 1px solid #d1d4d6;
}

.app-sidebar-list-item:hover {
    color: #000;
}

.app-map-container {
    width: 100%;
    height: 100%;
    padding-left: 240px;
    box-sizing: border-box;
}

.app-map-container-full {
    padding-left: 0;
}

.map-container {
    width: 100%;
    height: 100%;
}

.infowindow-block {
    color: #3f4657;
    padding-left: 5px;
}

.infowindow-block p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.infowindow-block a {
    cursor: pointer;
    color: #3f4657;
}

.infowindow-block a:hover {
    color: #000;
}

.infowindow-img {
    width: 200px;
    height: 150px;
}

.infowindow-err {
    width: 150px;
}

@media (max-width: 360px) {    
    .app-title {
        font-size: 18px;
        margin-top: 10px;
    }
}